html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #002b36; /* Base03 */
  color: #839496; /* Base0 */
  /* overflow: hidden; */
}

div{
  overflow: hidden;
}
.textarea {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  font-family: 'hack';
  font-size: 20px;
  border: none; 
  outline: none; /* Remove default outline */
  background-color: #002b36; /* Base03 */
  color: #839496; /* Base0 */
  resize: none;
}
::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #245678; /* Color of the thumb */
  border-radius: 6px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #002b36; /* Color of the track */
}