body, html,div {
  height: 100%;
  margin: 0;
  font: 1em hack;
}

#fullscreen-textarea {
  /* width: 100%;
  height: 100%; */
  font-size: 2em;
  padding: 10px;
  box-sizing: border-box;
  /* font: 1.75em hack; */
}